.Menu-Container {
    padding-top: 100px;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

.Menu-Container h2 {
    padding-bottom: 20px;
}

.Main-Menu{
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

.Menu-btn {
    background:#f4ce14;
    padding: 15px 25px 15px 25px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}