.reservation-hero {
  padding-top: 100px;
  margin: auto;
}

.reservation-hero img {
  width: 100%;
  height: 88vh;
  filter: opacity(70%);
}

.reservation-hero h1 {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 18%;
  right: 18%;
  font-size: 80px;
  color: black;
}
